In [34]:
import pandas as pd

In [35]:
csv_path = "100_point_wine.csv"
top_100_df = pd.read_csv(csv_path)
print(top_100_df.dtypes)

top_100_new_head = top_100_df.set_index('ID')
top_100_new_head.head()

ID                int64
rating            int64
winery           object
category         object
varietal         object
title            object
region           object
subregion        object
subsubregion     object
country          object
price             int64
vintage         float64
dtype: object

,rating,winery,category,varietal,title,region,subregion,subsubregion,country,price,vintage
ID,,,,,,,,,,,
5933,100,W. &amp; J. Graham's,Port/Sherry,Port,100pointsW. &amp; J. Graham's 2016 The Stone T...,Port,NaN,NaN,Portugal,230,2016.0
6126,100,Sattlerhof,Dessert,Sauvignon Blanc,Sattlerhof 2013 Trockenbeerenauslese Sauvignon...,SÃ¼dsteiermark,NaN,NaN,Austria,65,2013.0
6127,100,Kracher,Dessert,Muscat Ottonel,Kracher 2015 Zwischen den Seen Trockenbeerenau...,Burgenland,NaN,NaN,Austria,130,2015.0
6128,100,Kracher,Dessert,Scheurebe,100pointsKracher 2015 Zwischen den Seen Trocke...,Burgenland,NaN,NaN,Austria,100,2015.0
6129,100,Pol Roger,Sparkling,Champagne Blend,100pointsPol Roger 2008 CuvÃ©e Sir Winston Chu...,Champagne,Champagne,NaN,France,293,2008.0

In [36]:
top_100_new_head.to_csv('100_point_wine2.csv')