In [75]:
import pandas as pd
import glob

### Create loop to convert 16 csv files to dataframes, apply utf-8 coding and put into list. Concatenate dataframes in list into one dataframe.

In [37]:
path = 'Resources/'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, encoding = 'utf-8')
    li.append(df)

all_wines_df = pd.concat(li, axis=0, ignore_index=True)

### Assign name 'ID' to index

In [38]:
all_wines_df.index.name = ('ID')

### Import sqlalchemy modules

In [ ]:
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

### Create engine and initiate session

In [71]:
engine = create_engine('sqlite://', echo=False)
session = Session(engine)

### Convert dataframe to SQL table

In [74]:
all_wines_df.to_sql("all_wines", index=True,if_exists='replace', con=engine)

### Query SQL table for wines $30 or less and rating of 95

In [78]:
engine.execute('SELECT * from all_wines where price<=30 AND rating = 95')